.drupleIco {
  font-size: 500%;
}

.menu-bars {
  margin-left: 2px;
  font-size: 2rem;
  background: none;
  position: fixed;
  top: 15px;
  left: 15px;
}

.nav-menu {
  background-color: #060b26;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  transition: 850ms;
  z-index: 1;
  grid-area: nav;
}
.toggle-hr {
  width: 70%;
  border: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  word-wrap: anywhere;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  position: relative;
  padding: 0;
  width: 100%;
  overflow-y: auto;
}
.menu1 {
  overflow-y: visible;
}
.navbarboot-toggle {
  background-color: #060b26;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  color: white;
}
.downArrow {
  display: none;
}
span {
  margin-left: 16px;
}
.noneDisplay {
  display: none;
}
.nav-h2 {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .downArrow {
    display: block;
  }
  .nav-menu {
    height: auto;
  }
  .menu2 {
    display: none;
  }
}
