.Search {
  position: relative;
  padding: 0 10px;
}
.ResultDiv {
  position: absolute;
  background: white;
  z-index: 2;
  left: 0;
  right: 0;
  border-radius: 2%;
  min-height: 0px;
  overflow: auto;
  max-height: 30vw;
  border: black 1px solid;
  margin: 0 10px;
}
