.App {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas:
    "nav  header"
    "nav  quotes "
    "nav footer ";
}
.TitleAll {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}
@media (max-width: 768px) {
  .App {
    grid-template-areas:
      "nav nav "
      "header header"
      "quotes quotes"
      "footer footer ";
    grid-template-rows: auto;
  }
}
